.pageBody-container {
  margin: 65px 48px 20px;
  .header {
    display: flex;
    justify-content: space-between;
    .title {
      font-weight: 600;
    }
  }
}
.content {
  margin-top: 35px;
}
.pageContent {
  background-color: white;
  border-radius: 8px;
}
.payments-table {
  width: 100%;
}
.payments-table > thead > tr {
  border-bottom: 2px solid #cfdce5;
  height: 50px;
}
.payments-table > tbody > tr > td {
  border: none;
}
.payments-table > tbody > tr:nth-child(even) {
  background: #f5f8fa;
}

.add-button {
  background: #007dfe;
  height: 36px;
}

@media screen and (max-width: 428px) {
  .pageBody-container > .header {
    display: block;
  }
  .pageBody-container > .header > .title {
    font-size: 28px;
    line-height: 43px;
  }
}

@media screen and (min-width: 429px) and (max-width: 619px) {
  .pageBody-container > .header > .title {
    font-size: 36px;
    line-height: 43px;
  }
  .add-button {
    height: 60px;
  }
}
@media screen and (min-width: 620px) {
  .pageBody-container > .header > .title {
    font-size: 36px;
    line-height: 43px;
  }
}
.emptyTable-message {
  height: 100px;
}
